
.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login__form {
    height: 350px;
    width: 330px;
    background-color: rgba(202, 230, 241, 0.459);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.login__form div {
    margin-bottom: 5px;
}

.login__form input {
    width: 250px;
}

.login__form button {
    margin-top: 30px;
    width: 200px;
    font-size: 15px;
    position: absolute;
    bottom: 0;
    border-radius: 10px 10px 0 0;
}

.login__ready {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__ready img {
    width: 150px;
    margin-bottom: 20px;
}

.login__ready p {
    margin-bottom: 20px;
    font-size: 20px;
}

.login__ready a {
    display: block;
    text-decoration: none;
    height: 40px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    font-size: 16px;
    color: #fff;
    font-weight: bolder;
    transition: background-color 0.1s;
}

.login__ready a:hover {
    background-color: rgb(0, 0, 240);
}

